*{
    margin: 0;
    padding: 0;
}

.profile {
    width: 50%;
    border-radius: 50%;
    border: 3px solid red;
    float: right;
    margin: 0;
    position: relative;
    top: 50%;
}

.banner {
    background-image: url("kukkibanner.png");
    filter: brightness(50%);
    display: block;
    margin: auto;
}
